#splashscreen {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	background-image: url('../images/splashscreen.png');
	background-position: center center;
	background-repeat: no-repeat;
}