<div class="row">
    <div class="col-xs-12 col-md-4">
        <input class="form-control form-control-sm" id="ano" type="text" placeholder="ANO">
    </div>

    <div class="col-xs-12 col-md-4">
        <input class="form-control form-control-sm" id="dia" type="text" placeholder="DIA">
    </div>

    <div class="col-xs-12 col-md-4">
        <button class="btn btn-default btn-block" onclick="listar_archivos()">Listar archivos</button>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-xs-12 col-md-12">
        <table class="table">
            {% for i in keys %}
            <tr>
                <th>{{ i }}</th>
            </tr>
            {% endFor %}
        </table>
    </div>
</div>
