<div class="row">
    <div class="col-xs-12 col-md-10">
        <p> Sobre el servidor web, debe desarrollarse una interfaz web simple, con multiples paginas, donde cada una debe mostrar, utilizando HTML, CGI y Pearl o C los siguientes requerimientos:</p>
        <p>&nbsp;</p>
    </div>
</div>

<div class="col-xs-12 col-md-10">

    <p>(a) Pagina que reporte informaci&oacute;n sobre recursos varios del sistema embebido:</p>

    <ul>
        <li>Procesador, consumo</li>
        <li>Memoria</li>
        <li>Uptime</li>
        <li>Fecha y Hora actual</li>
    </ul>

    <p>&nbsp;</p>

    <p>(b) Pagina con un formulario que permita definir una fecha (ano y d&iacute;a DOI), y que al enviarlo, devuelva la lista de los archivos disponibles de</p>
    <p>Goes 16 en AWS (producto ABI-L2-CMIPF, canal 13) y los muestre en la p&aacute;gina.</p>

    <p>&nbsp;</p>

    <p>(c) Pagina que liste los m&oacute;dulos instalados en el sistema, y que posea un formulario que permita subir un archivo al servidor, controlar que</p>
    <p>este sea un archivo valido (del tipo modulo), e instalarlo en el kernel del sistema operativo. Tambi&eacute;n debe poseer un bot&oacute;n para removerlo.</p>

    <p>&nbsp;</p>

    <p>(d) Desarrollar un m&oacute;dulo (driver) simple y vac&iacute;o, que solo imprima &ldquo;Hello World" al instalarse y &ldquo;Good Bye World" al ser removido del kernel. Este</p>
    <p>ser&aacute; el m&oacute;dulo que se debe instalar en el punto anterior.</p>

</div>
