<div class="row">
    <div class="col-xs-12 col-md-4">
        <form enctype="multipart/form-data">
            <input type="file" name="module" id="file" />
        </form>
    </div>

    <div class="col-xs-12 col-md-4">
        <button class="btn btn-success btn-block" id="upload">Instalar</button>
    </div>

    <div class="col-xs-12 col-md-4">
        <button class="btn btn-danger btn-block" onclick="desinstalar_modulo()">Desinstalar Hello</button>
    </div>
</div>

<div>
    <hr/>
    <div class="col-xs-12">
        <pre>
                        {% for i in data %}{{ i }}
                        {% endFor %}
	</pre>
    </div>
</div>
